In [1]:
import pandas as pd

path = '..'

# import os
# os.chdir(path)

In [34]:
df = pd.read_csv(f'{path}/dataset/GetSBProfileInfoService/getOtlInfo/all.csv')

In [ ]:
tmp = pd.read_csv(f'{path}/dataset/GetSBProfileInfoService/getCsdoStatus/all.csv')

In [10]:
key=list(df.columns)

In [11]:
df = pd.merge(df, tmp, on=key, how = 'left')

In [34]:
tmp = df.groupby(['basYm', 'rprSexNm', 'rprAggrNm', 'estbYr', 'bizAreaNm', 'bizBzcCd', 'empeCntNm']).count().reset_index() # 이걸론 unique 불가능 -> 분석은 가능할 듯???

In [3]:
# 년도별 설립 확인 가능할 듯?????? -> 재무상태는 나중에 확인하고 일단 업종...
df[(df['rprSexNm']=='남성') & (df['rprAggrNm']=='30대') & (df['estbYr']==1972) & (df['bizAreaNm']=='서울특별시 서대문구')] # 3명 존재... 개인으로는 확인 불가능 같은년도에 3명....

,basYm,rprSexNm,rprAggrNm,estbYr,bizAreaNm,bizBzcCd,bizBzcCdNm,empeCntNm
791357,202208,남성,30대,1972,서울특별시 서대문구,47,소매업; 자동차 제외,1명 이상 5명 미만
1781357,202208,남성,30대,1972,서울특별시 서대문구,47,소매업; 자동차 제외,1명 이상 5명 미만
2781357,202208,남성,30대,1972,서울특별시 서대문구,47,소매업; 자동차 제외,1명 이상 5명 미만
3898400,202208,남성,30대,1972,서울특별시 서대문구,47,소매업; 자동차 제외,1명 이상 5명 미만

In [ ]:
tmp['bizBzcCdNm'].unique() # unique가 안됨... 합칠 수 없음

array([  4,   2,   8,   3,  12,  20,   6,  16,  32,  28,  24,  40,  36,
         9,  15,   5,  48,  44,  10,  64,  52, 104,  68,  60,  56,  84,
        76,  92,  21,  14,  22,  18,  72, 108,  80, 124,  88, 100, 116,
        17,  96, 152,  30, 204, 112, 156, 136, 128, 120,  34,  11, 132,
        23,  27,  33,  26,  38,   7,  31,  39,  13,  25])

In [43]:
# 같은 동네에 같은 규모의 동일 업종이 많은듯? -> 사장 나이도 비슷....;
df['bizBzcCd'].unique()

array([47, 46, 10, 42, 56, 96, 45, 49, 86, 71, 73, 41, 95, 85, 94, 29, 76,
       55, 68, 91, 30, 20, 72, 25, 33, 16, 32, 23, 90, 35, 26, 52, 14, 59,
       58, 13, 75, 18, 28, 17, 22, 27, 15, 63, 62, 74, 24, 38, 87, 34, 31,
       37,  1, 12,  3, 50])

In [4]:
tmp = df.groupby(['basYm', 'bizAreaNm', 'bizBzcCd']).count().reset_index()

In [5]:
tmp=tmp.iloc[:, :4]

In [6]:
tmp.columns = tmp.columns[:-1].tolist() + ['count']

In [7]:
tmp

        basYm     bizAreaNm  bizBzcCd  count
0      202208       강원도 강릉시        10    236
1      202208       강원도 강릉시        41     44
2      202208       강원도 강릉시        42    380
3      202208       강원도 강릉시        45    596
4      202208       강원도 강릉시        46    884
...       ...           ...       ...    ...
16378  202406  충청북도 충주시 앙성면        56     92
16379  202406  충청북도 충주시 앙성면        76     24
16380  202406  충청북도 충주시 앙성면        85     12
16381  202406  충청북도 충주시 앙성면        86     18
16382  202406  충청북도 충주시 앙성면        96     52

[16383 rows x 4 columns]

In [8]:
kind_changes = tmp.pivot_table(index=['bizAreaNm', 'bizBzcCd'], columns='basYm', values='count').reset_index()

In [ ]:
# 지역별로 업종 변화 확인 가능.... 근데 다 없어진게 말이 되나...;

In [ ]:
# df[['bizBzcCd', 'bizBzcCdNm']].drop_duplicates().sort_values(by='bizBzcCd').to_csv(f'{path}/dataset/업종분류.csv', index=False)

In [9]:
kind = pd.read_csv(f'{path}/dataset/업종분류.csv')

In [10]:
kind_changes = kind_changes.merge(kind, on='bizBzcCd')

In [11]:
kind_changes
# 3개년 데이터 다 있는 데이터들 확인 필요

          bizAreaNm  bizBzcCd  202208  202306  202406    bizBzcCdNm
0           강원도 강릉시        10   236.0     NaN     NaN       식료품 제조업
1           강원도 강릉시        41    44.0     NaN     NaN        종합 건설업
2           강원도 강릉시        42   380.0     NaN     NaN      전문직별 공사업
3           강원도 강릉시        45   596.0     NaN     NaN  자동차 및 부품 판매업
4           강원도 강릉시        46   884.0     NaN     NaN   도매 및 상품 중개업
...             ...       ...     ...     ...     ...           ...
10167  충청북도 충주시 앙성면        56     NaN   126.0    92.0     음식점 및 주점업
10168  충청북도 충주시 앙성면        76     NaN    26.0    24.0   임대업; 부동산 제외
10169  충청북도 충주시 앙성면        85     NaN    26.0    12.0       교육 서비스업
10170  충청북도 충주시 앙성면        86     NaN    28.0    18.0           보건업
10171  충청북도 충주시 앙성면        96     NaN    42.0    52.0    기타 개인 서비스업

[10172 rows x 6 columns]

In [12]:
kind_changes['bizAreaNm'].unique()

array(['강원도 강릉시', '강원도 고성군', '강원도 동해시', '강원도 삼척시', '강원도 속초시', '강원도 양양군',
       '강원도 영월군', '강원도 원주시', '강원도 인제군', '강원도 정선군', '강원도 철원군', '강원도 춘천시',
       '강원도 태백시', '강원도 평창군', '강원도 홍천군', '강원도 화천군', '강원도 횡성군',
       '강원특별자치도 강릉시 강변로', '강원특별자치도 강릉시 교동광장로', '강원특별자치도 강릉시 연곡면',
       '강원특별자치도 고성군 현내면', '강원특별자치도 동해시 동해대로', '강원특별자치도 동해시 지양길',
       '강원특별자치도 삼척시 하장면', '강원특별자치도 속초시 농공단지길', '강원특별자치도 속초시 울산바위길',
       '강원특별자치도 양구군 방산면', '강원특별자치도 양양군 강현면', '강원특별자치도 영월군 무릉도원면',
       '강원특별자치도 원주시 귀론길', '강원특별자치도 원주시 호저면', '강원특별자치도 인제군 서화면',
       '강원특별자치도 정선군 북평면', '강원특별자치도 철원군 철원읍', '강원특별자치도 춘천시 동내면',
       '강원특별자치도 춘천시 보안길', '강원특별자치도 춘천시 사북면', '강원특별자치도 태백시 가리골길',
       '강원특별자치도 평창군 봉평면', '강원특별자치도 홍천군 서면', '강원특별자치도 화천군 상서면',
       '강원특별자치도 횡성군 서원면', '경기도 가평군', '경기도 가평군 북면', '경기도 고양시',
       '경기도 고양시 덕양구', '경기도 고양시 일산동구', '경기도 고양시 일산서구', '경기도 과천시',
       '경기도 과천시 관악산길', '경기도 광명시', '경기도 광명시 광명로', '경기도 광주시',
       '경기도 광주시 곤지암읍', '경기도 광주시 남한산성면', '경기도 구리시', '경기도 구리시 갈매순환로',
       '경기도 군포시', '경기도 군포시 고산로677번길', '경기도 김포시', '경기도 김포시 김포대로',
       '경기도 김포시 월곶면', '경기도 남양주시', '경기도 남양주시 불암로', '경기도 남양주시 진접읍',
       '경기도 남양주시 화도읍', '경기도 동두천시', '경기도 동두천시 봉동로', '경기도 부천시',
       '경기도 부천시 대장로', '경기도 부천시 부흥로', '경기도 부천시 석천로', '경기도 부천시 소삼로',
       '경기도 부천시구', '경기도 성남시', '경기도 성남시 분당구', '경기도 성남시 수정구', '경기도 성남시 중원구',
       '경기도 수원시', '경기도 수원시 권선구', '경기도 수원시 영통구', '경기도 수원시 장안구',
       '경기도 수원시 팔달구', '경기도 시흥시', '경기도 시흥시 공단2대로', '경기도 시흥시 구지정길',
       '경기도 시흥시 윗대야1길', '경기도 안산시', '경기도 안산시 단원구', '경기도 안산시 상록구',
       '경기도 안성시', '경기도 안성시 미양면', '경기도 안성시 양성면', '경기도 안양시', '경기도 안양시 동안구',
       '경기도 안양시 만안구', '경기도 양주시', '경기도 양주시 남면', '경기도 양주시 버들로', '경기도 양평군',
       '경기도 양평군 서종면', '경기도 여주시', '경기도 여주시 산북면', '경기도 연천군', '경기도 연천군 신서면',
       '경기도 오산시', '경기도 오산시 서랑로', '경기도 용인시', '경기도 용인시 기흥구', '경기도 용인시 수지구',
       '경기도 용인시 처인구', '경기도 의왕시', '경기도 의왕시 까치골1길', '경기도 의왕시 상직막길',
       '경기도 의정부시', '경기도 의정부시 경의로', '경기도 의정부시 구리포천고속도로', '경기도 의정부시 버들로',
       '경기도 이천시', '경기도 이천시 공원로217번길', '경기도 이천시 백사면', '경기도 파주시',
       '경기도 파주시 가온로', '경기도 파주시 군내면', '경기도 평택시', '경기도 평택시 무지개공원1길',
       '경기도 평택시 서탄면', '경기도 평택시 청북읍', '경기도 평택시 팽성읍', '경기도 포천시',
       '경기도 포천시 관인면', '경기도 하남시', '경기도 하남시 감일순환로', '경기도 하남시 미사대로',
       '경기도 화성시', '경기도 화성시 경기대로', '경기도 화성시 동탄대로', '경기도 화성시 봉담읍',
       '경기도 화성시 송산면', '경기도 화성시 향남읍', '경상남도 거제시', '경상남도 거제시 거제대로',
       '경상남도 거제시 장목면', '경상남도 거창군', '경상남도 거창군 북상면', '경상남도 고성군',
       '경상남도 고성군 영오면', '경상남도 김해시', '경상남도 김해시 가야로', '경상남도 김해시 번화2로',
       '경상남도 김해시 생림면', '경상남도 마산시', '경상남도 밀양시', '경상남도 밀양시 청도면', '경상남도 사천시',
       '경상남도 사천시 곤명면', '경상남도 산청군', '경상남도 산청군 생초면', '경상남도 양산시',
       '경상남도 양산시 물금읍', '경상남도 양산시 원동면', '경상남도 의령군', '경상남도 의령군 부림면',
       '경상남도 진주시', '경상남도 진주시 공단로', '경상남도 진주시 미천면', '경상남도 진주시 석갑로',
       '경상남도 창녕군', '경상남도 창녕군 이방면', '경상남도 창원시', '경상남도 창원시 마산합포구',
       '경상남도 창원시 마산회원구', '경상남도 창원시 성산구', '경상남도 창원시 의창구', '경상남도 창원시 진해구',
       '경상남도 통영시', '경상남도 통영시 도산면', '경상남도 하동군', '경상남도 하동군 화개면', '경상남도 함안군',
       '경상남도 함안군 대산면', '경상남도 함양군 서상면', '경상남도 합천군', '경상남도 합천군 가야면',
       '경상북도 경산시', '경상북도 경산시 강변동로', '경상북도 경산시 바르지움길', '경상북도 경산시 와촌면',
       '경상북도 경주시', '경상북도 경주시 갈밭들1길', '경상북도 경주시 백률로57번길', '경상북도 경주시 안강읍',
       '경상북도 고령군', '경상북도 고령군 다산면', '경상북도 구미시', '경상북도 구미시 3공단3로',
       '경상북도 구미시 도봉로', '경상북도 구미시 무을면', '경상북도 구미시 선기로', '경상북도 군위군',
       '경상북도 김천시', '경상북도 김천시 어모면', '경상북도 김천시 후생10길', '경상북도 문경시',
       '경상북도 문경시 동로면', '경상북도 봉화군', '경상북도 봉화군 물야면', '경상북도 상주시',
       '경상북도 상주시 경상대로', '경상북도 상주시 화북면', '경상북도 성주군', '경상북도 성주군 벽진면',
       '경상북도 안동시', '경상북도 안동시 경동로', '경상북도 안동시 녹전면', '경상북도 영덕군',
       '경상북도 영덕군 창수면', '경상북도 영양군 청기면', '경상북도 영주시', '경상북도 영주시 구성로',
       '경상북도 영주시 부석면', '경상북도 영천시', '경상북도 영천시 고경면', '경상북도 영천시 신녕면',
       '경상북도 예천군', '경상북도 예천군 효자면', '경상북도 울릉군 서면', '경상북도 울진군',
       '경상북도 울진군 금강송면', '경상북도 의성군', '경상북도 의성군 다인면', '경상북도 청도군',
       '경상북도 청도군 각북면', '경상북도 청송군', '경상북도 청송군 진보면', '경상북도 칠곡군',
       '경상북도 칠곡군 북삼읍', '경상북도 칠곡군 왜관읍', '경상북도 포항시 남구', '경상북도 포항시 북구',
       '광주광역시 광산구', '광주광역시 광산구 고봉로', '광주광역시 광산구 목련로394번길',
       '광주광역시 광산구 선운로', '광주광역시 남구', '광주광역시 남구 군분로', '광주광역시 남구 봉선로',
       '광주광역시 동구', '광주광역시 동구 독립로', '광주광역시 북구', '광주광역시 북구 금당마을길',
       '광주광역시 북구 동문대로', '광주광역시 북구 북문대로', '광주광역시 서구', '광주광역시 서구 2순환로',
       '광주광역시 서구 금부로', '대구광역시 군위군 소보면', '대구광역시 남구', '대구광역시 남구 계명2길',
       '대구광역시 남구 골안길', '대구광역시 달서구', '대구광역시 달서구 달서대로', '대구광역시 달서구 상화로29길',
       '대구광역시 달서구 성서공단로', '대구광역시 달성군', '대구광역시 달성군 하빈면', '대구광역시 달성군 현풍읍',
       '대구광역시 동구', '대구광역시 동구 대현로', '대구광역시 동구 서촌로', '대구광역시 동구 안심로',
       '대구광역시 북구', '대구광역시 북구 관음로', '대구광역시 북구 노원로', '대구광역시 서구',
       '대구광역시 서구 가르뱅이로10길', '대구광역시 서구 국채보상로75길', '대구광역시 수성구',
       '대구광역시 수성구 국채보상로', '대구광역시 수성구 동대구로52길', '대구광역시 수성구 범안로',
       '대구광역시 중구', '대구광역시 중구 원대로', '대전광역시 대덕구', '대전광역시 대덕구 대덕대로1447번길',
       '대전광역시 대덕구 동춘당로114번길', '대전광역시 동구', '대전광역시 동구 가양남로', '대전광역시 동구 냉천로',
       '대전광역시 동구 대전로', '대전광역시 서구', '대전광역시 서구 계룡로', '대전광역시 서구 계백로',
       '대전광역시 서구 만년남로', '대전광역시 유성구', '대전광역시 유성구 국제과학2로', '대전광역시 유성구 상대남로',
       '대전광역시 유성구 유성대로', '대전광역시 중구', '대전광역시 중구 계백로', '대전광역시 중구 대전천서로',
       '대전광역시 중구 서문로', '부산광역시 강서구', '부산광역시 강서구 경전철로', '부산광역시 금정구',
       '부산광역시 금정구 금강로', '부산광역시 금정구 범어사로', '부산광역시 기장군', '부산광역시 기장군 정관읍',
       '부산광역시 남구', '부산광역시 남구 문현금융로', '부산광역시 남구 수영로266번길', '부산광역시 동구',
       '부산광역시 동구 고관로13번길', '부산광역시 동구 안창로', '부산광역시 동래구',
       '부산광역시 동래구 금강로59번길', '부산광역시 동래구 복천로', '부산광역시 동래구 안남로',
       '부산광역시 부산진구', '부산광역시 부산진구 범양로', '부산광역시 부산진구 새싹로',
       '부산광역시 부산진구 중앙대로', '부산광역시 북구', '부산광역시 북구 강변대로', '부산광역시 북구 모분재로',
       '부산광역시 사상구', '부산광역시 사상구 낙동대로', '부산광역시 사상구 사상로', '부산광역시 사하구',
       '부산광역시 사하구 괴정로', '부산광역시 사하구 낙동강자전거길', '부산광역시 사하구 다대로', '부산광역시 서구',
       '부산광역시 서구 꽃마을로', '부산광역시 수영구', '부산광역시 수영구 광안로16번길',
       '부산광역시 수영구 망미배산로', '부산광역시 연제구', '부산광역시 연제구 경기장로',
       '부산광역시 연제구 연수로87번길', '부산광역시 영도구', '부산광역시 영도구 동삼동로',
       '부산광역시 영도구 태종로', '부산광역시 중구', '부산광역시 중구 망양로', '부산광역시 해운대구',
       '부산광역시 해운대구 동백로', '부산광역시 해운대구 반송로', '서울특별시 강남구', '서울특별시 강남구 강남대로',
       '서울특별시 강남구 남부순환로378길', '서울특별시 강남구 봉은사로43길', '서울특별시 강남구 선릉로68길',
       '서울특별시 강동구', '서울특별시 강동구 가래여울1길', '서울특별시 강동구 강동대로', '서울특별시 강동구 명일로',
       '서울특별시 강북구', '서울특별시 강북구 방학로', '서울특별시 강북구 삼양로19길',
       '서울특별시 강북구 삼양로79길', '서울특별시 강서구', '서울특별시 강서구 강서로34길',
       '서울특별시 강서구 공항대로', '서울특별시 강서구 금포로', '서울특별시 관악구',
       '서울특별시 관악구 낙성대로15길', '서울특별시 관악구 시흥대로', '서울특별시 광진구',
       '서울특별시 광진구 군자로', '서울특별시 광진구 동일로', '서울특별시 광진구 뚝섬로', '서울특별시 구로구',
       '서울특별시 구로구 경인로67길', '서울특별시 구로구 구로중앙로', '서울특별시 금천구',
       '서울특별시 금천구 가마산로', '서울특별시 금천구 금하로1가길', '서울특별시 노원구',
       '서울특별시 노원구 광운로2나길', '서울특별시 노원구 노원로', '서울특별시 노원구 누원로',
       '서울특별시 노원구 덕릉로', '서울특별시 도봉구', '서울특별시 도봉구 노해로63가길',
       '서울특별시 도봉구 도봉산길', '서울특별시 동대문구', '서울특별시 동대문구 망우로', '서울특별시 동대문구 이문로',
       '서울특별시 동대문구 전농로', '서울특별시 동작구', '서울특별시 동작구 노들로',
       '서울특별시 동작구 사당로23나길', '서울특별시 마포구', '서울특별시 마포구 가양대로',
       '서울특별시 마포구 동교로19길', '서울특별시 마포구 마포대로', '서울특별시 마포구 백범로',
       '서울특별시 서대문구', '서울특별시 서대문구 증가로', '서울특별시 서대문구 포방터길', '서울특별시 서초구',
       '서울특별시 서초구 남부순환로297나길', '서울특별시 서초구 동작대로', '서울특별시 서초구 서초중앙로',
       '서울특별시 서초구 청계산로9길', '서울특별시 성동구', '서울특별시 성동구 난계로24길',
       '서울특별시 성동구 동일로', '서울특별시 성북구', '서울특별시 성북구 보국문로', '서울특별시 성북구 월곡로',
       '서울특별시 송파구', '서울특별시 송파구 백제고분로', '서울특별시 송파구 백제고분로21길',
       '서울특별시 송파구 새말로', '서울특별시 송파구 송이로15길', '서울특별시 양천구',
       '서울특별시 양천구 남부순환로', '서울특별시 양천구 목동동로', '서울특별시 영등포구',
       '서울특별시 영등포구 경인로', '서울특별시 영등포구 노들로', '서울특별시 영등포구 신길로', '서울특별시 용산구',
       '서울특별시 용산구 대사관로', '서울특별시 용산구 만리재로', '서울특별시 은평구', '서울특별시 은평구 북한산로',
       '서울특별시 은평구 역말로', '서울특별시 종로구', '서울특별시 종로구 대학로', '서울특별시 종로구 비봉1길',
       '서울특별시 중구', '서울특별시 중구 다산로', '서울특별시 중구 만리재로', '서울특별시 중랑구',
       '서울특별시 중랑구 겸재로', '서울특별시 중랑구 동일로123길', '서울특별시 중랑구 중랑천로', '세종특별자치시',
       '세종특별자치시  달빛1로', '세종특별자치시  소정면', '울산광역시 남구', '울산광역시 남구 돋질로',
       '울산광역시 남구 신복로72번길', '울산광역시 동구', '울산광역시 동구 꽃바위1길', '울산광역시 동구 남목11길',
       '울산광역시 북구', '울산광역시 북구 관문길', '울산광역시 울주군', '울산광역시 울주군 상북면',
       '울산광역시 울주군 온산읍', '울산광역시 중구', '울산광역시 중구 다운19길', '울산광역시 중구 반구정11길',
       '인천광역시 강화군', '인천광역시 강화군 교동면', '인천광역시 계양구', '인천광역시 계양구 둑실길',
       '인천광역시 계양구 봉오대로463번길', '인천광역시 남구', '인천광역시 남동구', '인천광역시 남동구 걸재천로',
       '인천광역시 남동구 경원대로', '인천광역시 남동구 남동대로', '인천광역시 동구', '인천광역시 동구 물치로',
       '인천광역시 미추홀구', '인천광역시 미추홀구 매소홀로446번길', '인천광역시 미추홀구 석정로',
       '인천광역시 부평구', '인천광역시 부평구 동수천로', '인천광역시 부평구 서달로', '인천광역시 서구',
       '인천광역시 서구 가석로', '인천광역시 서구 가현산로', '인천광역시 서구 도요지로', '인천광역시 연수구',
       '인천광역시 연수구 독배로', '인천광역시 연수구 인천타워대로', '인천광역시 옹진군', '인천광역시 옹진군 백령면',
       '인천광역시 중구', '인천광역시 중구 북성포길', '인천광역시 중구 은하수로', '전라남도 강진군',
       '전라남도 강진군 성전면', '전라남도 고흥군', '전라남도 고흥군 동강면', '전라남도 곡성군',
       '전라남도 곡성군 오산면', '전라남도 광양시', '전라남도 광양시 눈소9길', '전라남도 광양시 봉강면',
       '전라남도 구례군', '전라남도 구례군 산동면', '전라남도 나주시', '전라남도 나주시 공산면',
       '전라남도 나주시 문평면', '전라남도 담양군', '전라남도 담양군 용면', '전라남도 목포시',
       '전라남도 목포시 내화마을길', '전라남도 목포시 영산로', '전라남도 무안군', '전라남도 무안군 해제면',
       '전라남도 보성군 문덕면', '전라남도 순천시', '전라남도 순천시 국가정원1호길', '전라남도 순천시 황전면',
       '전라남도 신안군', '전라남도 신안군 임자면', '전라남도 여수시', '전라남도 여수시 문수1길',
       '전라남도 여수시 율촌면', '전라남도 영광군', '전라남도 영광군 홍농읍', '전라남도 영암군',
       '전라남도 영암군 신북면', '전라남도 완도군', '전라남도 완도군 군외면', '전라남도 장성군',
       '전라남도 장성군 북이면', '전라남도 장흥군', '전라남도 장흥군 유치면', '전라남도 진도군 군내면',
       '전라남도 함평군', '전라남도 함평군 손불면', '전라남도 해남군', '전라남도 해남군 화원면', '전라남도 화순군',
       '전라남도 화순군 백아면', '전라북도 고창군', '전라북도 고창군 심원면', '전라북도 군산시',
       '전라북도 군산시 공단대로', '전라북도 군산시 옥도면', '전라북도 김제시', '전라북도 김제시 금성14길',
       '전라북도 김제시 진봉면', '전라북도 남원시', '전라북도 남원시 노송로', '전라북도 남원시 덕과면',
       '전라북도 무주군', '전라북도 무주군 부남면', '전라북도 부안군', '전라북도 부안군 계화면',
       '전라북도 순창군 복흥면', '전라북도 완주군', '전라북도 완주군 운주면', '전라북도 익산시',
       '전라북도 익산시 웅포면', '전라북도 익산시 인북로', '전라북도 임실군', '전라북도 임실군 신덕면',
       '전라북도 장수군', '전라북도 장수군 계북면', '전라북도 전주시 덕진구', '전라북도 전주시 완산구',
       '전라북도 정읍시', '전라북도 정읍시 남산6길', '전라북도 정읍시 신태인읍', '전라북도 진안군 주천면',
       '제주특별자치도 서귀포시', '제주특별자치도 서귀포시 대정읍', '제주특별자치도 서귀포시 마소물로',
       '제주특별자치도 제주시', '제주특별자치도 제주시 달마루길', '제주특별자치도 제주시 도남로',
       '제주특별자치도 제주시 동화로', '제주특별자치도 제주시 추자면', '충청남도 계룡시', '충청남도 계룡시 신도안면',
       '충청남도 공주시', '충청남도 공주시 강정자1길', '충청남도 공주시 유구읍', '충청남도 금산군',
       '충청남도 금산군 진산면', '충청남도 논산시', '충청남도 논산시 노성면', '충청남도 논산시 은진면',
       '충청남도 당진군', '충청남도 당진시', '충청남도 당진시 석문면', '충청남도 당진시 정미면', '충청남도 보령시',
       '충청남도 보령시 남포면', '충청남도 보령시 천북면', '충청남도 부여군', '충청남도 부여군 외산면',
       '충청남도 부여군 홍산면', '충청남도 서산시', '충청남도 서산시 대산읍', '충청남도 서산시 덕지천로',
       '충청남도 서천군', '충청남도 서천군 서면', '충청남도 아산시', '충청남도 아산시 둔포면',
       '충청남도 아산시 신정로', '충청남도 예산군', '충청남도 예산군 고덕면', '충청남도 천안시',
       '충청남도 천안시 동남구', '충청남도 천안시 서북구', '충청남도 청양군', '충청남도 청양군 화성면',
       '충청남도 태안군', '충청남도 태안군 이원면', '충청남도 홍성군', '충청남도 홍성군 갈산면', '충청북도 괴산군',
       '충청북도 괴산군 불정면', '충청북도 단양군', '충청북도 단양군 매포읍', '충청북도 보은군',
       '충청북도 보은군 내북면', '충청북도 영동군', '충청북도 영동군 용산면', '충청북도 옥천군',
       '충청북도 옥천군 군북면', '충청북도 음성군', '충청북도 음성군 감곡면', '충청북도 음성군 음성읍',
       '충청북도 제천시', '충청북도 제천시 강저로', '충청북도 제천시 백운면', '충청북도 증평군',
       '충청북도 증평군 도안면', '충청북도 진천군', '충청북도 진천군 광혜원면', '충청북도 청원군',
       '충청북도 청주시 상당구', '충청북도 청주시 서원구', '충청북도 청주시 청원구', '충청북도 청주시 흥덕구',
       '충청북도 충주시', '충청북도 충주시 거룡2길', '충청북도 충주시 앙성면'], dtype=object)

In [ ]:
# 지역별로 나눠서 분석 필요 도별로 나누기

In [ ]:
kind_changes[kind_changes['bizAreaNm'] == '강원도 강릉시'] # 강릉시는 2023이후로 값이 없음... -> 다른곳도 그런 곳 있는지 확인 필요

   bizAreaNm  bizBzcCd  202208  202306  202406           bizBzcCdNm
0    강원도 강릉시        10   236.0     NaN     NaN              식료품 제조업
1    강원도 강릉시        41    44.0     NaN     NaN               종합 건설업
2    강원도 강릉시        42   380.0     NaN     NaN             전문직별 공사업
3    강원도 강릉시        45   596.0     NaN     NaN         자동차 및 부품 판매업
4    강원도 강릉시        46   884.0     NaN     NaN          도매 및 상품 중개업
5    강원도 강릉시        47   944.0     NaN     NaN          소매업; 자동차 제외
6    강원도 강릉시        49   368.0     NaN     NaN    육상 운송 및 파이프라인 운송업
7    강원도 강릉시        56  1048.0     NaN     NaN            음식점 및 주점업
8    강원도 강릉시        71    20.0     NaN     NaN              전문 서비스업
9    강원도 강릉시        73    28.0     NaN     NaN  기타 전문  과학 및 기술 서비스업
10   강원도 강릉시        85    32.0     NaN     NaN              교육 서비스업
11   강원도 강릉시        86   100.0     NaN     NaN                  보건업
12   강원도 강릉시        94    40.0     NaN     NaN              협회 및 단체
13   강원도 강릉시        95    88.0     NaN     NaN        개인 및 소비용품 수리업
14   강원도 강릉시        96   340.0     NaN     NaN           기타 개인 서비스업

In [ ]:
# 정보가 없는건지 폐업한건지 확인 필요...

In [ ]:
kind_changes[kind_changes[202406].isna()][['bizAreaNm', 'bizBzcCd', 'bizBzcCdNm']].drop_duplicates()  # 분석 불가??

           bizAreaNm  bizBzcCd                     bizBzcCdNm
0            강원도 강릉시        10                        식료품 제조업
1            강원도 강릉시        41                         종합 건설업
2            강원도 강릉시        42                       전문직별 공사업
3            강원도 강릉시        45                   자동차 및 부품 판매업
4            강원도 강릉시        46                    도매 및 상품 중개업
...              ...       ...                            ...
10144       충청북도 충주시        91                스포츠 및 오락관련 서비스업
10145       충청북도 충주시        95                  개인 및 소비용품 수리업
10146       충청북도 충주시        96                     기타 개인 서비스업
10150  충청북도 충주시 거룡2길        26  전자 부품  컴퓨터  영상  음향 및 통신장비 제조업
10159  충청북도 충주시 거룡2길        85                        교육 서비스업

[4363 rows x 3 columns]

In [35]:
df['지역'] = df['bizAreaNm'].apply(lambda x: x.split(' ') if len(x.split(' '))>2 else list(x.split(' '))+[' '])

In [36]:
df['지역_도'] = df['지역'].apply(lambda x: x[0])

In [37]:
df['지역_시'] = df['지역'].apply(lambda x: x[1])

In [38]:
df['지역_세부'] = df['지역'].apply(lambda x: x[2] if len(x)>2 else None)

In [ ]:
df # 도별로 우세업종 확인

,basYm,rprSexNm,rprAggrNm,estbYr,bizAreaNm,bizBzcCd,bizBzcCdNm,empeCntNm,지역,지역_도,지역_시,지역_세부
0,202208,남성,60대,2003,강원도 강릉시,47,소매업; 자동차 제외,1명 이상 5명 미만,"[강원도, 강릉시, ]",강원도,강릉시,
1,202208,남성,60대,1999,강원도 강릉시,47,소매업; 자동차 제외,0명,"[강원도, 강릉시, ]",강원도,강릉시,
2,202208,여성,40대,2018,강원도 강릉시,47,소매업; 자동차 제외,1명 이상 5명 미만,"[강원도, 강릉시, ]",강원도,강릉시,
3,202208,남성,50대,2017,강원도 강릉시,47,소매업; 자동차 제외,0명,"[강원도, 강릉시, ]",강원도,강릉시,
4,202208,여성,40대,2000,강원도 강릉시,47,소매업; 자동차 제외,1명 이상 5명 미만,"[강원도, 강릉시, ]",강원도,강릉시,
...,...,...,...,...,...,...,...,...,...,...,...,...
4224081,202406,남성,50대,2017,충청북도 충주시 앙성면,49,육상 운송 및 파이프라인 운송업,0명,"[충청북도, 충주시, 앙성면]",충청북도,충주시,앙성면
4224082,202406,여성,50대,2019,충청북도 충주시 앙성면,46,도매 및 상품 중개업,1명 이상 5명 미만,"[충청북도, 충주시, 앙성면]",충청북도,충주시,앙성면
4224083,202406,남성,30대,2021,충청북도 충주시 앙성면,47,소매업; 자동차 제외,0명,"[충청북도, 충주시, 앙성면]",충청북도,충주시,앙성면
4224084,202306,남성,60대,2000,충청북도 충주시 앙성면,46,도매 및 상품 중개업,5명 이상 10명 미만,"[충청북도, 충주시, 앙성면]",충청북도,충주시,앙성면
4224085,202306,남성,60대,2009,충청북도 충주시 앙성면,46,도매 및 상품 중개업,0명,"[충청북도, 충주시, 앙성면]",충청북도,충주시,앙성면

In [44]:
df_dg = df[df['지역_도']=='대구광역시']

In [74]:
# 고용인에 따른 사업장 규모 정의 필요(법령확인?)
# 지역별 사업자 연령파악??????? 의미가..????????????????
df_dg.to_csv(f"{path}/dataset/대구_raw.csv", index=False)

In [55]:
cols = list(df_dg.columns)

In [63]:
tmp = df_dg[cols[:4] + cols[5:8] + ['지역_시']]
tmp['count'] = 1

C:\Users\Pro\AppData\Local\Temp\ipykernel_14576\1547281281.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['count'] = 1

In [67]:
tmp.groupby(list(tmp.columns)[:-1]).count().reset_index().to_csv(f'{path}/dataset/대구구별사업자.csv', index=False)

In [ ]:
tmp.groupby(['basYm', 'bizBzcCd', 'bizBzcCdNm'])

,basYm,rprSexNm,rprAggrNm,estbYr,bizBzcCd,bizBzcCdNm,empeCntNm,지역_시,count
525336,202406,남성,60대,2001,46,도매 및 상품 중개업,5명 이상 10명 미만,군위군,1
525337,202306,남성,60대,2005,46,도매 및 상품 중개업,1명 이상 5명 미만,군위군,1
525338,202306,남성,60대,2006,46,도매 및 상품 중개업,10명 이상 30명 미만,군위군,1
525339,202306,남성,60대,2007,46,도매 및 상품 중개업,0명,군위군,1
525340,202306,여성,60대,2013,56,음식점 및 주점업,0명,군위군,1
...,...,...,...,...,...,...,...,...,...
3695631,202406,남성,50대,2016,49,육상 운송 및 파이프라인 운송업,0명,중구,1
3695632,202406,여성,50대,2015,45,자동차 및 부품 판매업,0명,중구,1
3695633,202406,여성,50대,2014,56,음식점 및 주점업,0명,중구,1
3695634,202406,남성,30대,2019,56,음식점 및 주점업,0명,중구,1
3695635,202306,남성,50대,1998,47,소매업; 자동차 제외,1명 이상 5명 미만,중구,1

In [70]:
tmp = tmp.pivot_table(index=['rprSexNm', 'rprAggrNm', 'estbYr', 'bizBzcCd', 'bizBzcCdNm', 'empeCntNm', '지역_시'], columns='basYm', values='count', aggfunc='sum').reset_index()

In [72]:
tmp.to_csv(f'{path}/dataset/대구연도별사업자.csv', index=False)

In [ ]:
# 연도별 창업 업종 확인 가능할듯? -> 유행이 있었나 확인가능 혹은 그냥 창업?
tmp

basYm,rprSexNm,rprAggrNm,estbYr,bizBzcCd,bizBzcCdNm,empeCntNm,지역_시,202208,202306,202406
0,남성,30대,1987,29,기타 기계 및 장비 제조업,0명,북구,4.0,4.0,4.0
1,남성,30대,1997,46,도매 및 상품 중개업,10명 이상 30명 미만,달서구,NaN,4.0,4.0
2,남성,30대,1998,46,도매 및 상품 중개업,0명,중구,4.0,NaN,NaN
3,남성,30대,1998,46,도매 및 상품 중개업,5명 이상 10명 미만,중구,4.0,8.0,NaN
4,남성,30대,2002,30,자동차 및 트레일러 제조업,5명 이상 10명 미만,북구,NaN,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...
17127,여성,70대,2019,56,음식점 및 주점업,0명,중구,4.0,4.0,NaN
17128,여성,70대,2019,56,음식점 및 주점업,1명 이상 5명 미만,북구,NaN,4.0,4.0
17129,여성,70대,2020,56,음식점 및 주점업,1명 이상 5명 미만,수성구,4.0,NaN,NaN
17130,여성,70대,2021,56,음식점 및 주점업,0명,수성구,NaN,NaN,4.0
17131,여성,70대,2022,56,음식점 및 주점업,1명 이상 5명 미만,달성군,NaN,4.0,4.0